<div class="container">
  <h2> 진겸꺼입니다 ㅎㅎ </h2>
  <form style="margin-top: 40px" action="/home/write" method="post">
    <h1 style="text-align: center"><strong>게시판</strong></h1>
    <div class="form-group">
      <label for="exampleInputTitle">Title</label>
      <input type="text" name="title" class="form-control" id="exampleInputTitle" placeholder="제목을 입력해 주세요">
    </div>
    <div class="form-group">
      <label for="exampleInputContent">Content</label>
      <textarea name="content"class="form-control" rows="5" id="Content"></textarea>
    </div>
    <button type="submit" class="btn btn-default">글 작성</button>
  </form>
  <div class="form-group">
    <% @posts.each do |p| %>
      <h4><strong><%= p.title %></strong></h4>
      <div class="well">
        <p><%= p.content %></p>
        <br>
        <p>공백 포함 글자 수: <%= p.content.size %>자</p>
        <p>공백 제외 글자 수: <%= p.content.delete(' ').size %>자</p>
        <p>단어 수: <%= p.content.split(' ').size%>자</p>

        <div class="form-group">
          <!-- <input type="hidden" value="<%= p.id %>" name="post_id1"> -->
          <label for="comment_<%= p.id %>">Comment</label>
          <input type="text" name="comment" class="form-control comment_submit" id="comment_<%= p.id %>" placeholder="댓글을 입력해 주세요">
        </div>
        <button value="<%= p.id %>" type="submit" class="btn btn-default">입력</button>
        <div id="reply_<%= p.id %>">
          <% p.comments.each do |c| %>
            <p><%= c.content %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
//출력이 안 된다 뭐가 문제냐 ㅠㅠ
  $(function() {
    $(".comment_submit").click(function(){
      post_id = this.value;
      comment_content = ("#comment_" + post_id).val();
      $.ajax({
        method: "POST",
        url: "/home/comment_write",
        data: { comment: comment_content, post_id1: post_id}
        success: function(){
          $( "#reply_" + post_id ).append( "<p>" + comment_content + "</p>" );
          $("#comment_" + post_id).val('');
          alert( "댓글이 작성되었습니다." );
        },
        error: function(){
          alert( "댓글이 작성되지 않았습니다." );
        }
      })
        //새로고침 안 해도 바로 댓글 보이게!, placeholder 지우기! => 힌트: jQuery API에서 append 검색
    });
  });
</script>